.horizontalSpace {
  flex-grow: 1;
  font-family: 'Raleway', sans-serif;
}

.pageBackground {
  background-color: #f8f9f9;
  height: inherit;
  overflow : auto;
  font-family: inherit;
}

.newfont {
  font-family: 'Raleway', sans-serif;
}
