.formContainer {
  max-width: 35%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  margin: 2.5% auto;
  padding: 1.5%;
  background-color: white;
}

.contain {
  display: block;
  overflow: auto;
  resize: both;
}
